{% extends 'admin_base.html' %}

{% block content%}

<div class="app-content content">
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<a href="{% url 'admin_order' %}" style="color: white;"><h2>Manage <b>Orders</b></h2></a>
					</div>
          <div class="col-sm-3"></div>
          <div class="col-sm-1">
              <li class="dropdown">
                    <button type="button" id="selectedButton" class="dropdown-toggle" data-toggle="dropdown" style="background-color:#3d49ca; ">
                        Sort
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" data-sort="newToOld" href="{% url 'new_to_old' %}" style="font-size: 12px;">New to Old Orders</a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" data-sort="oldToNew" href="{% url 'old_to_new' %}" style="font-size: 12px;">Old to New Orders</a>
                        </li>
                    </ul>
                </li>
            </div>
            
          
          <div class="col-sm-2">
            <form method="get" action="/admin/search_order">
            <input style="color: black;" type="search" aria-label="Search" placeholder="Search by Status" name="query" id="search">
            <button class="btn btn-outline-success" style="color: black;" type="submit">Search</button>
          </form>
          </div>
                </div>
            </div>
            <div id="filteredOrders">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Order #</th>
                    <th scope="col">Billing Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Change Status</th>
                    <th scope="col">Cancel</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                  <tr>
                    <th scope="row"><a href="{% url 'admin_order_detail' order.order_number  %}">{{order.order_number}}</a></th>
                    <td>{{order.full_name}}</td>
                    <td>{{order.order_total}}</td>
                    <td>{{order.created_at}}</td>
                    <td>{{order.status}}</td>
                    <td>
                        <form method="POST" action="{% url 'change_order_status' order.id %}">
                          {% csrf_token %}
                          <select name="status">
                            <option value="New" {% if order.status == 'New' %} selected {% endif %}>New</option>
                            <option value="Accepted" {% if order.status == 'Accepted' %} selected {% endif %}>Accepted</option>
                            <option value="Completed" {% if order.status == 'Completed' %} selected {% endif %}>Completed</option>
                            <option value="Cancelled" {% if order.status == 'Cancelled' %} selected {% endif %}>Cancelled</option>
                          </select>
                          <button class="btn btn-default" type="submit">Change</button>
                        </form>
                      </td>
                      <td>
                        <form method="POST" action="{% url 'cancel_order_admin' order.id %}">
                          {% csrf_token %}
                          <button class="btn btn-danger" type="submit">Cancel</button>
                        </form>
                      </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div class="mb-5">
                {% if orders.has_other_pages %}
                <div class="paginator mb-5">
                  {% if orders.has_previous %}
                  <a href="?page={{ orders.previous_page_number }}" class="prev active">Prev</a>
                  {% else %}
                  <a href="#" class="prev disabled">Prev</a>
                  {% endif %}
                  
                  {% for i in orders.paginator.page_range %}
                    {% if orders.number == i %}
                    <a href="?page={{ i }}" class="page current">{{ i }}</a>
                    {% else %}
                    <a href="?page={{ i }}" class="page">{{ i }}</a>
                    {% endif %}
                  {% endfor %}
                  
                  {% if orders.has_next %}
                  <a href="?page={{ orders.next_page_number }}" class="prev active">Next</a>
                  {% else %}
                  <a href="#" class="prev disabled">Next</a>
                  {% endif %}
                </div>
                {% endif %}
              </div>
              </div>
    </div>



{% endblock %}