{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'theme-assets/css/forgot_password.css' %}">
</head>
<body>

  <div class="login-page">
    <div class="form">
        <h3>Forgot your password?</h3>
      <hr></hr>
      <h4>Enter your email to reset your password</h4>
      <form class="login-form" action="{% url 'forgotPassword' %}" method="post">
        {% csrf_token%}
        <input name="email" type="text" class="login__input" placeholder="Email">
        <button type="submit">Verify</button>

        <p><a href="{% url 'login' %}">Go back to Login Page</a></p>
        <p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
        {% for message in messages %}
        <h5 style="color: #C62828;">{{message}}</h5>
        {% endfor %}
        
      </form>
    </div>
  </div>
  <script>
    $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
  </script>
</body>
</html>