{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'theme-assets/css/register.css' %}">
</head>
<body>
 
  <div class="login-page">
    <div class="form">
      <form class="login-form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input name="first_name" type="text" class="login__input" placeholder="Firstname">
        <input name="last_name" type="text" class="login__input" placeholder="Lastname">
        <input name="email" type="email" class="login__input" placeholder="Email">
        <input name="phone_number" type="text" class="login__input" placeholder="Phone Number">
        <input name="referral_code" type="text" class="login__input" placeholder="referral Code">
        <input name="password" type="password" class="login__input" placeholder="Password">
        <input name="confirm_password" type="password" class="login__input" placeholder="Confirm Password">
        <button>Signup</button>
        
        <p class="message">Already registered? <a href="{% url 'login' %}">Login Here</a></p>

        {% for message in messages %}
        <h5 style="color: #3828c6;">{{message}}</h5>
        {% endfor %}
        <h5 style="color: #c6282b;">{{error_message}}</h5>
      </form>
    </div>
  </div>
  <script>
    $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
  </script>
</body>
</html>