{% extends 'base.html' %}
{% block content%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

#image-container {
  width: 100%;
  height: 300px; 
  overflow: auto;
}
.rating > input{
    display: none;
}
.rating{
	display: inline-block;;
	border: 0;
}
.rating > label{
	float: right;
}
.rating > label:before{
	display: inline-block;
	font-size:  1.1rem;
	font-family: FontAwesome;
	content: "\f005";
	margin: 0;
	padding: 0.3rem .2rem;
	cursor: pointer;
}

.rating .half:before{
	content: "\f089";
	position: absolute;
	padding-right: 0;
}
input:checked ~ label, label:hover ~ label{
	color: #ffb503;
}

input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
	color: #cc9000;
}
.star i{
	color: #cc9000;
}
</style>


			
		

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span>Product Details</span></p>
					</div>
				</div>
			</div>
		</div>

{% for p in product %}
<div>
		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<div class="col-sm-6">
						<div id="image-container" class="container1">
							{% for variation in p.variation_set.colors %}
							{% if variation.variant_image %}
							<img src="{{ variation.variant_image.url }}" class="img-fluid" alt="Product Image" style="width: 300px; height: 300px;">
							{% else %}
							<p>No image available</p>
                            {% endif %}      
							{% endfor %}
						</div>
					</div>
					<div class="col-sm-2"></div>
					
					<div class="col-sm-4">
						<form action="{% url 'add_cart' p.id %}" method="POST" class="add-to-cart-form" >
						<div class="product-desc">
							<h3>{{p.product_name}}</h3>
							<p class="price">
								<span>Rs. {{p.price}}</span> 
								{% if p.new_price != p.price %}
								<span style="color: red;">Offer Price : Rs {{p.new_price}}</span>
								{% endif %}
								<span class="star">
									<i class="fa fa-star{% if p.averageReview < 0.5 %}-o{% elif p.averageReview >= 0.5 and p.averageReview < 1 %}-half-o {% endif %}"></i>
									<i class="fa fa-star{% if p.averageReview < 1.5 %}-o{% elif p.averageReview >= 1.5 and p.averageReview < 2 %}-half-o {% endif %}"></i>
									<i class="fa fa-star{% if p.averageReview < 2.5 %}-o{% elif p.averageReview >= 2.5 and p.averageReview < 3 %}-half-o {% endif %}"></i>
									<i class="fa fa-star{% if p.averageReview < 3.5 %}-o{% elif p.averageReview >= 3.5 and p.averageReview < 4 %}-half-o {% endif %}"></i>
									<i class="fa fa-star{% if p.averageReview < 4.5 %}-o{% elif p.averageReview >= 4.5 and p.averageReview < 5 %}-half-o {% endif %}"></i>
								</span>
							</p>
							<p>{{p.description}}</p>
							<div class="size-wrap">
								<div class="mb-2">
									<h4>Color</h4>
									<select name="color" class="form-control" required>
										<option value="" disabled selected>Choose</option>
										{% for v in p.variation_set.colors %}
										{% if v.is_active %}
										<option value ="{{v.variation_value | lower}}">{{v.variation_value | capfirst}}</option>
										{% endif %}
										{% endfor %}
									</select>
				            </div>
				            <div class=" mb-4">
									<h4>Size</h4>
				             
								
								<select name="size" class="form-control" required>
									<option value="" disabled selected>Choose</option>
									{% for v in p.variation_set.sizes %}
									{% if v.is_active %}
									<option value ="{{v.variation_value | lower}}">{{v.variation_value | capfirst}}</option>
									{% endif %}
								    {% endfor %}
								</select>
									
				            
				            </div>
							</div>
                  	<div class="row">
	                  	<div class="col-sm-12 text-center">
							{%if all_inactive %}
							<h3 class="text-danger">Out of Stock</h>
							{% else %}
								{% csrf_token %}
								<button type="submit" value="Add to Cart" class="btn btn-primary btn-addtocart"><i class="icon-shopping-cart">  Add to Cart</i></button>

								<input type="hidden" name="product_id" value="{{ p.product_name }}">
							</form>
							{% endif %}	
							{% if user.is_authenticated %}
							<a href="{% url 'add_to_wishlist' product_id=p.id %}" class="btn btn-light">Add to Wishlist</a>
							{% endif %}
								</div>
							</div>
						</div>
					</div>
							
				</div>
<div class="row">
<div class="col-md-6">
	<form action="{% url 'submit_review' p.id%}" method="post">
		{% csrf_token %}
		<h4>Write your Review</h4>
		<div>
			<label>How do you rate this product?</label>
			<br>
			<div class="rating">
				<input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
				<input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
				<input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
				<input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
				<input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3" ></label>
				<input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
				<input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2" ></label>
				<input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
				<input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1" ></label>
				<input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
			</div>
			<br>
			Review Title:
			<input type="text" class="form-control" name="subject">
			<br>
			<textarea name="review" rows="4"></textarea>
			<br>
			{% if user.is_authenticated %}
			{% if orderproduct %}
			<input type="submit" class="btn btn-success" value="Submit Review">
			{% else %}
			<p style="color: #C62828;">You must purchase this product to post a review</p>
			{% endif %}
			{% else %}
			<p style="color: #C62828;">You must be loggedin to post review</p>
			{% endif %}
		</div>
		{% for message in messages %}
        <h5 style="color: #C62828;">{{message}}</h5>
        {% endfor %}
	</form>
</div>		
<div class="col-md-1"></div>				      
					
		<div class="col-md-5">
			<h3 class="head" style="color: #cc9000;">Customer Reviews</h3>
			{% for review in reviews %}
			<div class="pt-2 pl-5" style="background-color:whitesmoke">
			<div class="review">
				<div class="user-img" style="background-image: url(images/person2.jpg)"></div>
				<div class="desc">
					<h4>
						<span class="text-left" style="color: rgb(56, 51, 153);">{{review.user.first_name}}</span>
					</h4>
						<span class="text-right">{{review.updated_at}}</span>
					
					<p class="star">
						<span>
							<i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"></i>
							<i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"></i>
							<i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"></i>
							<i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"></i>
							<i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"></i>
						</span>
						<span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
					</p>
					<span style="font-weight: bold;">{{review.subject}}</span>
					<p>{{review.review}}</p>
				</div>
			</div>
			</div>
			{% endfor %}
		</div>
</div>
{% endfor %}
{% endblock %}

